{% extends 'layout.html.twig' %}

{% block title %}Comisiones{% endblock %}

{% block contentRight %}
    <h2 class="text-center">Insaculación Comisiones Dictaminadoras de Área</h2>
    <br />
{% endblock %}