{% extends 'layout.html.twig' %}

{% block title %}CandidatoCda index{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-3">
            {% block menuLeft %}
               {{ render(controller('App\\Controller\\AppController::leftMenu', {'pathInfo': app.request.pathinfo })) }}
            {% endblock %}
        </div>
        <div class="col">
            {% block contentRight %}
                <h1 class="text-center">Comisiones Dictaminadoras de Área</h1>
            {% endblock %}
        </div> 
    </div>

{% endblock %}
