{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="main" class="main container">
        <header class="bg-light">
            {% block header %}
                    <div id="barner" class="p-4 mx-auto text-center">
                        <img src="{{ asset('resources/img/variacion4.png') }}" class="img-fluid mx-auto text-center" width="70%" alt="">
                    </div>
                    {% block menu %}
                        {% include '_menu.html.twig' %}
                    {% endblock %}
            {% endblock %}
        </header>

        <div id="content" class="bg-white p-3">
            {% block content %} {% endblock %}
        </div>

        <footer class="bg-white p-3" >
            {% block footer  %}
                <br />
                <p class="text-end text-muted" style="font-size: 7px;">RG/DTI/DAAPA/SHA © 07/2022</p>
            {% endblock %}
        </footer>
    </div>    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}