{% extends 'layout.html.twig' %}

{% block title %}SeleccionCdr{% endblock %}

{% block content %}
    <h1 class="text-center">Comisión Dictaminadora de Recursos</h1>

    {% include 'seleccion_cdr/_list.html.twig' %}

{% endblock %}
